In [36]:
import requests
from requests.exceptions import HTTPError
import json
import pandas as pd

In [37]:
URL = "https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/dataset/deliveries.json"
deliveries = None

try:
    resposta = requests.get(URL)
    resposta.raise_for_status()
except HTTPError as exc:
    print(exc)
else:
    deliveries = json.loads(resposta.text)

In [38]:
deliveries_df = pd.DataFrame(deliveries)
deliveries_df.head()

,name,region,origin,vehicle_capacity,deliveries
0,cvrp-2-df-33,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': '313483a19d2f8d65cd5024c8d215cfbd', 'p..."
1,cvrp-2-df-73,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': 'bf3fc630b1c29601a4caf1bdd474b85', 'po..."
2,cvrp-2-df-20,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': 'b30f1145a2ba4e0b9ac0162b68d045c3', 'p..."
3,cvrp-1-df-71,df-1,"{'lng': -47.89366206897872, 'lat': -15.8051175...",180,"[{'id': 'be3ed547394196c12c7c27c89ac74ed6', 'p..."
4,cvrp-2-df-87,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': 'a6328fb4dc0654eb28a996a270b0f6e4', 'p..."

In [39]:
def normalizando_longitude_latitude(deliveries= list) -> list:
    
    for deliver in deliveries:
        deliver['origin_lng'] = deliver['origin']['lng']
        deliver['origin_lat'] = deliver['origin']['lat']
        deliver['origin'] = f'{deliver['origin_lng']} + {deliver['origin_lat']}'
        for dev in deliver['deliveries']:
            deliver['delivery_size'] = dev['size']
            deliver['destiny_lng'] = dev['point']['lng']
            deliver['destiny_lat'] = dev['point']['lat']
            deliver['destiny'] = f'{dev['point']['lng']} + {dev['point']['lat']}'
    
    return deliveries

    
deliveries = normalizando_longitude_latitude(deliveries)

In [40]:
deliveries_df = pd.DataFrame(deliveries)
deliveries_df.head()

,name,region,origin,vehicle_capacity,deliveries,origin_lng,origin_lat,delivery_size,destiny_lng,destiny_lat,destiny
0,cvrp-2-df-33,df-2,-48.05498915846707 + -15.83814451122274,180,"[{'id': '313483a19d2f8d65cd5024c8d215cfbd', 'p...",-48.054989,-15.838145,9,-48.062154,-16.004613,-48.06215377565731 + -16.0046125935
1,cvrp-2-df-73,df-2,-48.05498915846707 + -15.83814451122274,180,"[{'id': 'bf3fc630b1c29601a4caf1bdd474b85', 'po...",-48.054989,-15.838145,2,-48.061698,-16.004009,-48.061698386740765 + -16.004008827332886
2,cvrp-2-df-20,df-2,-48.05498915846707 + -15.83814451122274,180,"[{'id': 'b30f1145a2ba4e0b9ac0162b68d045c3', 'p...",-48.054989,-15.838145,3,-48.061894,-16.004350,-48.06189412101355 + -16.004349886868848
3,cvrp-1-df-71,df-1,-47.89366206897872 + -15.80511751066334,180,"[{'id': 'be3ed547394196c12c7c27c89ac74ed6', 'p...",-47.893662,-15.805118,7,-47.880953,-15.760535,-47.88095311166211 + -15.760535007084442
4,cvrp-2-df-87,df-2,-48.05498915846707 + -15.83814451122274,180,"[{'id': 'a6328fb4dc0654eb28a996a270b0f6e4', 'p...",-48.054989,-15.838145,2,-48.062475,-16.004089,-48.062475455295214 + -16.00408918543841

In [41]:
deliveries_df = deliveries_df[['name', 'region', 'origin_lng', 'origin_lat', 'origin', 'vehicle_capacity', 'delivery_size', 'destiny_lng', 'destiny_lat', 'destiny']]
deliveries_df.head()

,name,region,origin_lng,origin_lat,origin,vehicle_capacity,delivery_size,destiny_lng,destiny_lat,destiny
0,cvrp-2-df-33,df-2,-48.054989,-15.838145,-48.05498915846707 + -15.83814451122274,180,9,-48.062154,-16.004613,-48.06215377565731 + -16.0046125935
1,cvrp-2-df-73,df-2,-48.054989,-15.838145,-48.05498915846707 + -15.83814451122274,180,2,-48.061698,-16.004009,-48.061698386740765 + -16.004008827332886
2,cvrp-2-df-20,df-2,-48.054989,-15.838145,-48.05498915846707 + -15.83814451122274,180,3,-48.061894,-16.004350,-48.06189412101355 + -16.004349886868848
3,cvrp-1-df-71,df-1,-47.893662,-15.805118,-47.89366206897872 + -15.80511751066334,180,7,-47.880953,-15.760535,-47.88095311166211 + -15.760535007084442
4,cvrp-2-df-87,df-2,-48.054989,-15.838145,-48.05498915846707 + -15.83814451122274,180,2,-48.062475,-16.004089,-48.062475455295214 + -16.00408918543841